<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toolbar *ngIf="canManage" styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Manage" icon="pi pi-pencil"
                                class="p-button-info mr-2" (click)="manage()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <h5>Filter Menu</h5>
            <p-table #dt1 [value]="missions" dataKey="id" [rows]="20" [loading]="isLoading" [rowHover]="true"
                     [paginator]="true" [showCurrentPageReport]="true" [globalFilterFields]="['name']"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     responsiveLayout="scroll" sortField="id" sortField="id"
            >
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                                (click)="clear(dt1)"></button>
                        <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                                   placeholder="Search Keyword" class="w-full"/>
						</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                ID
                                <p-columnFilter type="text" field="id" display="menu"
                                                placeholder="Search by ID"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Name
                                <p-columnFilter type="text" field="name" display="menu"
                                                placeholder="Search by name"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Map
                                <p-columnFilter type="text" field="map" display="menu"
                                                placeholder="Search by map"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Author
                                <p-columnFilter type="text" field="author" display="menu"
                                                placeholder="Search by author"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Game type
                                <p-columnFilter type="text" field="gameType" display="menu"
                                                placeholder="Search by game type"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Max. slots
                                <p-columnFilter type="text" field="slotsMax" display="menu"
                                                placeholder="Search by max. slots"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Status
                                <p-columnFilter type="text" field="status" display="menu"
                                                placeholder="Search by status"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Modset
                                <p-columnFilter type="text" field="modset" display="menu"
                                                placeholder="Search by modset"></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-mission let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="mission"
                                    class="p-button-text p-button-rounded p-button-plain"
                                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                            </button>
                        </td>
                        <td style="width: 2.5%; min-width: 6rem;">
                            {{mission.id}}
                        </td>
                        <td style="width: 25%; min-width: 12rem;">
                            {{mission.name}}
                        </td>
                        <td style="width: 12.5%; min-width: 12rem;">
                            {{mission.map.name}}
                        </td>
                        <td style="width: 15%; min-width: 12rem;">
                            {{mission.author}}
                        </td>
                        <td style="width: 15%; min-width: 12rem;">
                            {{mission.gameType.name}}
                        </td>
                        <td style="width: 5%; min-width: 6rem;">
                            {{mission.slotsMax}}
                        </td>
                        <td style="width: 10%; min-width: 12rem;">
                            <span [class]="'status-badge status-' + mission.status.name.toLowerCase()">{{mission.status.name}}</span>
                        </td>
                        <td style="width: 15%; min-width: 12rem;">
                            {{mission.modset.name}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-mission>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <div class="font-medium text-3xl text-900 my-2">{{mission.name}}</div>
                                <div class="surface-section">
                                    <ul class="list-none p-0 m-0">
                                        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                            <div class="text-500 w-6 md:w-2 font-medium">Description</div>
                                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                                                {{mission.description}}
                                            </div>
                                        </li>
                                        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                            <div class="text-500 w-6 md:w-2 font-medium">Minimum slots</div>
                                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                                                {{mission.slotsMin}}
                                            </div>
                                        </li>
                                        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                            <div class="text-500 w-6 md:w-2 font-medium">Maximum slots</div>
                                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                                                {{mission.slotsMax}}
                                            </div>
                                        </li>
                                        <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap">
                                            <div class="text-500 w-6 md:w-2 font-medium">Required DLC's</div>
                                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                                                <p-chip *ngFor="let dlc of mission.dlcs" [label]="dlc.name" class="mr-2"></p-chip>
                                            </div>
                                        </li>
                                        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                            <div class="text-500 w-6 md:w-2 font-medium">Created</div>
                                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                                                {{mission.createdAt | date: 'yyyy-MM-dd, hh:mm a'}}
                                            </div>
                                        </li>
                                        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                            <div class="text-500 w-6 md:w-2 font-medium">Modset</div>
                                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                                                <a [href]="mission.modset.link" target="_blank">{{mission.modset.name}}</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="font-medium text-3xl text-900 mt-4 mb-2">Mission files</div>
                                <div class="surface-section">
                                    <ul class="list-none p-0 m-0">
                                        <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap">
                                            <p-table class="w-100" [value]="mission.missionFiles" dataKey="id" responsiveLayout="scroll" sortField="id">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Name</th>
                                                        <th>Version</th>
                                                        <th>Description</th>
                                                        <th>Uploaded</th>
                                                        <th style="width: 4rem"></th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-missionFile>
                                                    <tr>
                                                        <td style="width: 2.5%; min-width: 6rem;">{{missionFile.id}}</td>
                                                        <td style="width: 35%; min-width: 12rem;">{{missionFile.name}}</td>
                                                        <td style="width: 2.5%; min-width: 6rem;">{{missionFile.version}}</td>
                                                        <td style="width: 50%; min-width: 12rem;">{{missionFile.description}}</td>
                                                        <td style="width: 10%; min-width: 12rem;">{{missionFile.createdAt | date: 'yyyy-MM-dd, hh:mm a'}}</td>
                                                        <td><p-button type="button" icon="pi pi-download" (onClick)="downloadMissionFile(missionFile.id, missionFile.name)"></p-button></td>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="emptymessage">
                                                    <tr>
                                                        <td colspan="7">No mission files found.</td>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="loadingbody">
                                                    <tr>
                                                        <td colspan="7">Loading mission file data. Please wait.</td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

