<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Back" icon="pi pi-arrow-left" class="p-button-info mr-2"
                                (click)="goBack()"></button>
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                                (click)="openNew()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="missionFiles" [columns]="cols" responsiveLayout="scroll" [loading]="loading"
                     [globalFilterFields]="['name']" [rows]="20" [paginator]="true" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage mission files</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                   class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">ID
                            <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">Name
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="version">Version
                            <p-sortIcon field="version"></p-sortIcon>
                        </th>
                        <th pSortableColumn="path">Path
                            <p-sortIcon field="path"></p-sortIcon>
                        </th>
                        <th pSortableColumn="url">Download URL
                            <p-sortIcon field="url"></p-sortIcon>
                        </th>
                        <th pSortableColumn="notes">Notes
                            <p-sortIcon field="notes"></p-sortIcon>
                        </th>
                        <th pSortableColumn="created">Created
                            <p-sortIcon field="created"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-missionFile>
                    <tr>
                        <td style="width: 2.5%; min-width: 6rem;"><span class="p-column-title">ID</span>
                            {{missionFile.id}}
                        </td>
                        <td style="width: 20%; min-width: 12rem;">
                            <span class="p-column-title">Name</span>
                            {{missionFile.name}}
                        </td>
                        <td style="width: 2.5%; min-width: 6rem;">
                            <span class="p-column-title">Version</span>
                            {{missionFile.version}}
                        </td>
                        <td style="width: 20%; min-width: 12rem;">
                            <span class="p-column-title">Path</span>
                            {{missionFile.path}}
                        </td>
                        <td style="width: 5%; min-width: 12rem;">
                            <span class="p-column-title">Download URL</span>
                            <a href="{{missionFile.downloadUrl}}" target="_blank">Link</a>
                        </td>
                        <td style="width: 40%; min-width: 12rem;">
                            <span class="p-column-title">Notes</span>
                            {{missionFile.notes}}
                        </td>
                        <td style="width: 10%; min-width: 12rem;">
                            <span class="p-column-title">Created</span>
                            {{missionFile.createdAt | date: 'yyyy-MM-dd, hh:mm a'}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-warning mr-2"
                                        (click)="editMissionFile(missionFile)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                        (click)="deleteMissionFile(missionFile)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="newDialog" [style]="{width: '450px'}" header="Mission file" [modal]="true"
                  class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="currentMissionFile!.name" required autofocus
                           [ngClass]="{'ng-invalid ng-dirty' : submitted && !currentMissionFile.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !currentMissionFile.name">Name is required.</small>
                </div>
                <div class="field">
                    <label for="version">Version</label>
                    <input type="text" pInputText id="version" [(ngModel)]="currentMissionFile!.version" required autofocus
                           [ngClass]="{'ng-invalid ng-dirty' : submitted && !currentMissionFile.version}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !currentMissionFile.version">Version is required.</small>
                </div>
                <div class="field">
                    <label for="path">Path</label>
                    <input type="text" pInputText id="path" [(ngModel)]="currentMissionFile!.path" required autofocus
                           [ngClass]="{'ng-invalid ng-dirty' : submitted && !currentMissionFile.path}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !currentMissionFile.path">Path is required.</small>
                </div>
                <div class="field">
                    <label for="url">URL</label>
                    <input type="text" pInputText id="url" [(ngModel)]="currentMissionFile!.downloadUrl" required autofocus
                           [ngClass]="{'ng-invalid ng-dirty' : submitted && !currentMissionFile.downloadUrl}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !currentMissionFile.downloadUrl">URL is required.</small>
                </div>
                <div class="field">
                    <label for="notes">Description</label>
                    <input type="text" pInputText id="notes" [(ngModel)]="currentMissionFile!.description" required autofocus
                           [ngClass]="{'ng-invalid ng-dirty' : submitted && !currentMissionFile.description}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !currentMissionFile.description">Description is required.</small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                        (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                        (click)="saveMissionFile()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="currentMissionFile">Are you sure you want to delete <b>{{currentMissionFile.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
